#footer {
  height: 100vh !important;
  width: 100% !important;

}
#howidesign {

  height: 100%!important;


  width: min(1440px, 90%);
  position: relative;
display: flex;
align-items: center;
justify-content: center;
}

.design-container {
width: 100%;
  display: flex;
  justify-content: center;
 flex-direction: column;
}
.item-wrapper:nth-child(even){
  margin-left: auto;
}


.item-wrapper{


  display: flex;
  justify-content: center;
  align-items: center;
  width: 33em;
  height: 20em;
}

.dimage img{
  width: 10em;
}

